.MenuTitle {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    font-size: 3.4rem;
    color: var(--white);
    margin-bottom: 10px;

  
    &-Icon {
        margin-right: 8px;
    }
  }