.MenuHistory{
  &-Button {
    margin: 50px 0 5px 0;
    width: 30%;
    height: 50px;
    border-color: var(--white);
    color: var(--white);
    background-color: var(--main);
    font-size: 1.3rem;
    cursor: pointer;
    font-family: 'yg-jalnan';
  }
}